// abstract
@use 'abstracts/root';

// base
@use 'base/general';
@use 'base/fonts';
@use 'base/navs';
@use 'base/buttons';
@use 'base/typography';
@use 'base/table';
@use 'base/icons';
@use 'base/scrollbar';
@use 'base/text-selection';

// vendors
@use 'prism/prism-theme-github.scss';
