// abstract
@import 'abstracts/variables';

// base
@import 'base/general';
@import 'base/fonts';
@import 'base/navs';
@import 'base/buttons';
@import 'base/typography';
@import 'base/table';
@import 'base/icons';
// @import 'base/scrollbar';
@import 'base/text-selection';

// vendors
@import 'prism/prism-theme-github.scss';