:root {
  --c-primary:           hsl(185, 100%, 35%);
  --c-primary-lighter:   hsl(185, 100%, 40%);
  --c-primary-bg:        hsl(168, 41%, 95%);
  --c-secondary:         hsl(216, 41%, 53%);
  --c-secondary-dark:    hsl(216, 41%, 30%);
  --c-secondary-lighter: hsl(216, 41%, 40%);
  --c-website-bg:        hsl(38, 100%, 96%);
  --c-website-code-bg:   hsl(38, 80%, 90%);
  --c-navbar-icon:         var(--c-secondary-dark);
  --c-text:                var(--c-secondary-dark);
  --c-footer-bg:           var(--c-website-bg);
  --c-footer-text:         var(--c-secondary-dark);
  --c-app-bg:           hsl(216, 41%, 15%);
  --c-app-border:       hsl(216, 41%, 5%);
  --c-bg-box:             var(--c-secondary-dark);
  --c-text-box:           var(--c-website-bg);

  --w-website-wide:            1280px;
  --w-website-slim:            840px;
  --monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;}

[data-theme="dark"] {
  --c-primary:           hsl(185, 100%, 40%);
  --c-primary-lighter:   hsl(185, 100%, 70%);
  --c-primary-bg:        hsl(168, 41%, 95%);
  --c-secondary:         hsl(216, 41%, 53%);
  --c-secondary-dark:    hsl(216, 41%, 30%);
  --c-secondary-lighter: hsl(216, 41%, 40%);
  --c-website-bg:        hsl(216, 41%, 12%);
  --c-website-code-bg:   hsl(216, 15%, 25%);
  --c-navbar-icon:       hsl(216, 41%, 75%);
  --c-text:              hsl(216, 70%, 87%);
  --c-footer-bg:           var(--c-website-bg);
  --c-footer-text:       hsl(216, 41%, 75%);
  --c-app-bg:            hsl(168, 8%, 96%);
  --c-app-border:        hsl(168, 8%, 76%);
  --c-bg-box:              var(--c-text);
  --c-text-box:            var(--c-website-bg);
}