:root {
  // --c-primary:          hsl(168, 41%, 50%);
  // --c-primary-lighter:  hsl(168, 41%, 70%);
  --c-primary:           hsl(185, 100%, 35%);
  --c-primary-lighter:   hsl(185, 100%, 40%);
  --c-primary-bg:        hsl(168, 41%, 95%);
  --c-secondary:         hsl(216, 41%, 53%);
  --c-secondary-dark:    hsl(216, 41%, 30%);
  --c-secondary-lighter: hsl(216, 41%, 40%);
  --c-website-bg:        hsl(38, 100%, 96%);
  --c-navbar-icon:         var(--c-secondary-dark);
  --c-text:                var(--c-secondary-dark);
  --c-footer-bg:           var(--c-secondary-dark);
  --c-footer-text:         var(--c-website-bg);
  --c-app-bg:           hsl(216, 41%, 15%);
  --c-app-border:       hsl(216, 41%, 5%);
  --c-bg-box:             var(--c-secondary-dark);
  --c-text-box:           var(--c-website-bg);

  --w-website:            1140px;
  --monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --icon-toggle-mode: url('/src/assets/icons/moon.svg');
}

[data-theme="dark"] {
  --c-primary:           hsl(185, 100%, 35%);
  --c-primary-lighter:   hsl(185, 100%, 40%);
  --c-primary-bg:        hsl(168, 41%, 95%);
  --c-secondary:         hsl(216, 41%, 53%);
  --c-secondary-dark:    hsl(216, 41%, 30%);
  --c-secondary-lighter: hsl(216, 41%, 40%);
  --c-website-bg:        hsl(216, 41%, 15%);
  --c-navbar-icon:       hsl(216, 41%, 75%);
  --c-text:              hsl(216, 41%, 75%);
  --c-footer-bg:         hsl(216, 41%, 15%);
  --c-footer-text:       hsl(216, 41%, 75%);
  --c-app-bg:            hsl(168, 8%, 96%);
  --c-app-border:        hsl(168, 8%, 76%);
  --c-bg-box:              var(--c-text);
  --c-text-box:            var(--c-website-bg);

  --icon-toggle-mode: url('/src/assets/icons/sun.svg');
}