.cols-3 {
  display: grid;
  grid-template-columns: 1fr;
}
.cols-3 {
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 2rem;
  }
  grid-row-gap: 1rem;
  margin-bottom: 1rem;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}