.cols-3 {
  display: grid;
  grid-template-columns: 1fr;
}
.cols-3 {
  gap: 1rem;
  margin-bottom: 1rem;
  @media (min-width: 840px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }
  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
}