//
// @Project: WAT Ingenieurgesellschaft
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

@font-face {
  font-family: 'Source Sans 3';
  src: url('../Fonts/SourceSans3-VariableFont_wght.woff2') format('woff2');
  font-optical-sizing: auto;
  font-display: swap;
}
@font-face {
  font-family: 'Vollkorn Bold';
  src: url('../fonts/Vollkorn-Bold.woff2') format('woff2');
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn BoldItalic';
  src: url('../fonts/Vollkorn-BoldItalic.woff2') format('woff2');
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: 'Spline Sans Mono';
  src: url('../fonts/SplineSansMono-VariableFont_wght.woff2') format('woff2');
  font-optical-sizing: auto;
  font-style: normal;
}