//
// @Project: WAT Ingenieurgesellschaft
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Spline Sans Mono';
    src: url('../fonts/SplineSansMono-VariableFont_wght.woff2') format('woff2');
    font-optical-sizing: auto;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-VariableFont_wght.woff2') format('woff2');
    font-optical-sizing: auto;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vollkorn Italic';
    src: url('../fonts/Vollkorn-Italic-VariableFont_wght.woff2') format('woff2');
    font-optical-sizing: auto;
    font-style: normal;
  }
}