@font-face {
  font-family: 'Source Sans 3';
  src: url('@assets/fonts/SourceSans3-VariableFont_wght.woff2') format('woff2');
  font-optical-sizing: auto;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans 3 Italic';
  src: url('@assets/fonts/SourceSans3-Italic-VariableFont_wght.woff2')
    format('woff2');
  font-optical-sizing: auto;
  font-display: swap;
}
@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('@assets/fonts/GloriaHallelujah-Regular.woff2') format('woff2');
  font-optical-sizing: auto;
  font-style: normal;
}
