*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid #fff;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  accent-color: var(--c-primary);
}

// remove default margin
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

// links width text-decoration
a {
  text-decoration-skip-ink: auto;
}

// responsive layouts
img, picture, embed, object, video {
	max-width: 100%;
	width: auto;
	height: auto;
}

// make images easier to work with
img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  border: none;
}

// inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ie
main {
  display: block;
}