table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
  tr {
    border: 1px solid var(--c-primary);
    th, td {
      padding: 0.25rem;
      color: var(--c-text);
      border: 1px solid var(--c-text);
      vertical-align: top;
    }
    th {
      text-align: left;
    }
    td {
      font-size: 0.938rem
    }
    code {
      padding: 0.125rem;
      font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
      background-color: var(--c-website-code-bg);
    }
  }
}