html {
  color: var(--c-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
h1 {
  margin: 0 auto 1.5rem;
  font-size: 1.5rem;
  color: var(--c-headlines);
  font-weight: 600;
  line-height: 1.25;
  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}
h2 {
  margin: 1rem auto 0.5rem;
  font-size: 1.25rem;
  color: var(--c-headlines);
  font-weight: 600;
  line-height: 1.25;
  @media (min-width: 1024px) {
    margin: 3rem auto 1.5rem;
    font-size: 1.5rem;
  }
}
h3 {
  margin: 1.25rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--c-headlines);
  @media (min-width: 1024px) {
    margin: 2.25rem 0 1rem;
    font-size: 1.375rem;
  }
}
p {
  margin: 0 0 0.75rem;
  font-size: 1rem;
  color: var(--c-text);
  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}
ol, ul {
  li { 
    margin: 0 0 0.75rem;
    font-size: 1rem;
    color: var(--c-text);
    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }
}
a {
  color: var(--c-primary);
}